<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div *ngIf="user && user.photo?.length" class="user-container">
      <img [src]="user.photo" />
      <h5>{{ user.fullName }}</h5>
      <small>{{ user.email }}</small>
    </div>
    <ion-list>
      <ng-container *ngFor="let p of pages">
        <ng-container *ngIf="!p.component || p.pages?.length; else option">
          <ion-item color="transparent">
            {{ p.title }}
            <ng-container *ngIf="p.actions?.length">
              <button
                ion-button
                icon-only
                clear
                float-right
                *ngFor="let action of p.actions"
                (click)="onAction(action.component, p.title)"
              >
                <ion-icon [name]="action.icon"></ion-icon>
              </button>
            </ng-container>

            <ion-item color="transparent" *ngFor="let subpage of p.pages">
              <button
                ion-button
                clear
                class="subpage"
                color="secondary"
                (click)="openPage(subpage)"
              >
                <div [style.background-color]="subpage.color" class="round"></div>
                <span class="subpage-title">{{ subpage.title }}</span>
              </button>
              <button
                *ngIf="
                (configLabels && p.title.toUpperCase() === 'ETIQUETAS') ||
                (configProjects && p.title.toUpperCase() === 'PROYECTOS')"
                ion-button
                icon-only
                clear
                color="primary"
                float-right
                (click)="removeSubpage(subpage, p.title.toUpperCase())"
              >
                <ion-icon name="remove-circle"></ion-icon>
              </button>
              
            </ion-item>
          </ion-item>
        </ng-container>

        <ng-template #option>
          <button ion-item (click)="openPage(p)" color="transparent">
            <ion-icon *ngIf="p.icon" [name]="p.icon" style="margin-right: 7px;"></ion-icon>
            <span>{{ p.title }}</span>
          </button>
        </ng-template>
      </ng-container>
    </ion-list>
    <div class="logout">
      <button ion-button icon-start (click)="logout()" color="primary" clear>
        <ion-icon name="log-out"></ion-icon>
        Salir
      </button>
    </div>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
