@import '../theme/variables.scss';

.round {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 5px;
    display: inline-block;
}

.item-md, .item-ios {
    .item-block .item-inner {
        border-bottom: transparent;
    }
}

.logout {
    position: fixed;
    bottom: 10px;
}