.azul-1 .icon {
  color: #0033CC;
  margin-right: 15px;
}

.azul-2 .icon {
  color: #428BCA;
  margin-right: 15px;
}

.azul-3 .icon {
  color: #44AD8E;
  margin-right: 15px;
}

.verde-1 .icon {
  color: #A8D695;
  margin-right: 15px;
}

.verde-2 .icon {
  color: #5CB85C;
  margin-right: 15px;
}

.verde-3 .icon {
  color: #69D100;
  margin-right: 15px;
}

.verde-4 .icon {
  color: #004E00;
  margin-right: 15px;
}

.gris-1 .icon {
  color: #34495E;
  margin-right: 15px;
}

.gris-2 .icon {
  color: #7F8C8D;
  margin-right: 15px;
}

.gris-3 .icon {
  color: #A295D6;
  margin-right: 15px;
}

.morado-1 .icon {
  color: #5843AD;
  margin-right: 15px;
}

.morado-2 .icon {
  color: #8E44AD;
  margin-right: 15px;
}

.rojo-1 .icon {
  color: #D10069;
  margin-right: 15px;
}

.rojo-2 .icon {
  color: #CC0033;
  margin-right: 15px;
}

.rojo-3 .icon {
  color: #FF0000;
  margin-right: 15px;
}

.rojo-4 .icon {
  color: #D9534F;
  margin-right: 15px;
}

.amarillo-1 .icon {
  color: #D1D100;
  margin-right: 15px;
}

.amarillo-2 .icon {
  color: #F0AD4E;
  margin-right: 15px;
}

.amarillo-3 .icon {
  color: #AD8D43;
  margin-right: 15px;
}
