.alert-toast .toast-message {
  color: #721c24;
  background-color: #f8d7da;
  font-weight: bold;
}

.success-toast .toast-message {
  color: #155724;
  background-color: #d4edda;
  font-weight: bold;
}

.info-toast .toast-message {
  color: #004085;
  background-color: #cce5ff;
  font-weight: bold;
}

.warning-toast .toast-message {
  color: #856404;
  background-color: #fff3cd;
  font-weight: bold;
}

